@font-face {
    font-family: 'poppins';
    src: url('./assets/Poppins-Regular.ttf');
}


:root{
    --bg: #172554;
    --ft: #f5f3ff;
}


body{
    margin:0;
    padding:0;
    font-family: 'poppins';
    transition: all 0.3;
}

.content{
    height:100vh;
    width:100vw;    
    display: flex;    
}

.left{
    flex:1;
    background-color: var(--bg);
    color:var(--ft);
    display: flex;
    flex-direction: column;
    padding: 2%;
    overflow-y: auto;

}

.logo{
    font-size: 60px;
    font-weight: 900;
    padding:2%;
}

.project-container{
    margin-top: 2%;
    padding: 4%;
    font-size: 18px;
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 100%;
    grid-auto-rows: 80px;
}

.project-container > div{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 80%;
    justify-content: space-evenly;
    background-color: rgba(179, 177, 177, 0.533);
}

.right{
    flex:4;
    background-color: var(--ft);
    padding:2%;
}

.project-head{
    
    text-align: center;
    font-size: 30px;
}

.todo-container{
    padding: 2%;
    height:80%;
    display: flex;
    flex-direction: column;
    gap:30px;
    font-size: 20px;
}

.todo-container > div{
    background-color: lightgray;
    padding-left: 2%;
    height: 60px;
    display: flex;
    align-items: center;
}
.todo-container > button{
    background-color: lightgray;
    padding-left: 2%;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.create-project-btn{
    background-color: lightgray;
    font-size: 30px;
    margin-top: 40px;
}

.delete-project-icon{
    height: 50%;
    filter: invert(100%);
}

.add-new-todo-btn{
    display: flex;
    justify-content: center;
}

.active-project{
    background-color: green;
}

.todo-item{
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    transition: all 0.3s;
}

.todo-item > .delete-todo-icon {
    height: 80%;
    filter: invert(0%);
}


.backdrop{
    position: absolute;
    left: 0;
    top:0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.486);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    background-color: white;
    height:50%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}

form{
    display: grid;
    height: 80%;
    width: 80%;
    grid-template-columns: max-content max-content;
    grid-template-rows: 1fr 3fr 1fr 1fr 1fr;
    grid-gap: 10%;
    align-items: center;
    justify-content: center;
}

form >*{
    font-size: 20px;
    font-family: 'poppins';
}


.desc-container{
    display: flex;
    align-items: center;
}

.close-modal{
    position: absolute;
    top:5%;
    right: 5%;
}

.submit-btn{
    grid-column: 1 /3;
    font-size: 20px;
}

.low{
    background-color: green;
}
.medium {
    background-color: orange;
}

.high{
    background-color: red;
}

.todo-priority{
    height: 100%;
    width: 2%;
}

.empty-image{
    height: 50%;
    width:40%;
    padding-left: 25%;
    padding-top:10%;
}

.project{
    transition: all 0.3s;

}

.project:hover{
    background-color: rgb(58, 57, 57);
    transform: scale(1.1) perspective(1px);
}

.todo-item:hover{
    transform: scale(1.05) perspective(1px);
    cursor: pointer;
}

.todo-desc{
    width:400px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.todo-modal{
    background-color: white;
    height:50%;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 15px;
    overflow: hidden;
}